$branco: #FFFFFF;
$verde-oliva: #36D6AD;
$vermelho-tomate: #FC7071;
$azul-oceano: #3772FF;
$cinza-inputs: #F7F7F7;
$cinza-apenas:#737380;
$cinza-claro: #BCBCBC;
$cinza-medio: #999999;
$preto: #000000;

$fonte-primaria: 'Poppins';
$fonte-secundaria: 'IBM Plex Sans';


// $padding-horizontal-mobile: 100px;
// $padding-horizontal-sm: 150px;
// $padding-horizontal-md: 200px;
// $padding-horizontal: 250px;