@import '../../styles/_variaveis.scss';

.login{
    &__container{
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        gap: 1.5em;
        margin-top: 10em;
    }
    &__senha{
        font-size: 1.2rem;
        line-height: 2.4rem;
        text-align: center;
        color: $vermelho-tomate;
    }
    display:flex; 
    flex-direction: column; 
    flex: 1;
    // background-image: url("../../assets/svgs/Forma3.svg");
    background-position: bottom 2em left;
    background-repeat: no-repeat;
    background-size: auto;
}

// talvez mudar aqui
@media screen and (min-width: 768px){
    .login{
        background-image: url("../../assets/svgs/Forma2Tablet.svg");
        background-position: bottom 11em right;
    }

}

@media screen and (min-width: 1444px){
    .login{
        background-image: url("../../assets/svgs/Forma2Desktop.svg");
        background-position: bottom 16em right;
    }


}
